*:not(.fade .in .modal) {
    box-sizing: border-box;
    background-color: #F8F8F8;
}

html {
    height: 100%;
    font-size: 20px;
}

body {
    min-height: 100%;
    font-family: Arial;
    padding: 0px;
    background-color: #F8F8F8;
}

.landing-wrapper {
    height: 100%;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #F8F8F8;
    z-index: 1;
}

.header-title {
    padding: 0%;
    text-align: center;
}

.header-title h1 {
    margin-top: 1%;
    font-size: 2rem;
}

.headerSplitter{
    display: none;
}

.header-topnav {
    overflow: hidden;
    background-color: #333;
}

.header-topnav-buttons{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.header-topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.70rem;
}

.header-topnav a:hover {
    background-color: #ddd;
    color: black;
}

.header-topnav a:first-child {
    float: left;
    margin-right: -20%;
}

.header-topnav a.selected {
    background-color: grey;
    color: black;
}

.content{
    width: 100%;
    position:absolute;
    padding-top: 2%;
}

.content-view-port{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.footer p {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    background: inherit;
}

.alert-dismisable-container{
    margin-top:-10%;
    position: fixed;
    width: 100%;
    z-index: 2;
    left: 0;
}

.alert-dismisable-container p{
    font-size: 0.8rem;
}

.alert-dismisable-container .h4{
    font-size: 1.2rem;
}

.alert-dismisable-container hr{
    margin-bottom: 0%;
}

.alert-dismisable-container button{
    font-size: 0.8rem;
}

.alert-dismisable-container .alert{
    width: 75%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .topnav a {
        float: none;
        width: 100%;
    }

    html {
        font-size: 15px;
    }

    .header {
        position: absolute;
    }

    .headerSplitter{
        display: block;
    }

    .header-topnav{
        position: fixed;
        top: 0;
        width: 100%;
    }

    .header-topnav-buttons{
        max-width: 100%;
    }

    .content-view-port{
        width: 90%;
    }

    .footer {
        display: none;
    }

    .playlist-page-configured-playlist{
        width:100%;
    }

    .playlist-page-spotify-playlist{
        width:100%;
    }
}